@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#000000] text-white font-instrument-sans;
}

body {
  background-image: url("./assets/Group_1597881061.png");
  @apply bg-cover bg-repeat-y static;
}

::-webkit-scrollbar {
  @apply w-0;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  @apply !leading-[125%];
}

.fade-left,
.fade-right,
.fade-up {
  @apply relative;
}

.fade-left {
  @apply left-[-100px] opacity-0;
}

.fade-right {
  @apply right-[-100px] opacity-0;
}

.fade-up {
  @apply bottom-[-100px] opacity-0;
}

button {
  @apply whitespace-nowrap px-6 py-3 font-medium transition lg:px-8 lg:py-4 rounded;
}

.heading-letter {
  @apply relative top-[100px] opacity-0;
}

/* Basic stroke */
/* Text stroke for dark backgrounds */
.text-stroke {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.accordion-content {
  @apply h-0;
}

.accordion-item input:checked + .accordion-header {
  @apply bg-grey bg-opacity-50 text-white;
}

.accordion-item input:checked + .accordion-header svg {
  @apply rotate-180;
}

.accordion-item input:checked ~ .accordion-content {
  @apply bg-grey bg-opacity-50 p-4 text-white h-auto rounded-b-2xl;
}

/* .loader { */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(farthest-side, #fff 90%, #0000);
  background: var(--_g) 0 50%, var(--_g) 50% 50%, var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: 25% 50%;
  animation: l12 1s infinite linear;
}
@keyframes l12 {
  33% {
    background-position: 0 0, 50% 100%, 50% 100%, 100% 0;
  }
  66% {
    background-position: 50% 0, 0 100%, 100% 100%, 50% 0;
  }
  100% {
    background-position: 50% 50%, 0 50%, 100% 50%, 50% 50%;
  }
}
/* } */

#blogs .accordion-check:checked + li aside i:before {
  @apply opacity-0 transition;
}

#blogs .accordion-check:checked + li aside {
  @apply scale-90 transition;
}

#blogs .accordion-check:checked + li aside div {
  @apply h-full;
}

#blogs .accordion-check:checked + li img {
  @apply w-full;
}
